body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 1.5rem;

  > aside{
    width: 200px;
    float: left;
    margin-right: 1.5rem;

    > strong{
      margin-bottom: 1rem;
      font-weight: 500;
      float: left;
    }

    > a{
      float: left;
      width: 100%;
      display: block;
      padding: .5rem;
      text-decoration: none;
      border-bottom: 1px solid #F3F5F6;
      cursor: pointer;

      &:hover{
        background: #F3F5F6;
      }
    }
  }

  > ui-view{
    width: calc(100% - 200px - 1.5rem);
    float: right;

    > h1{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

  }
}