<h1>List</h1>

<ul>
    <li ng-repeat="item in items track by $index">
        {{item.date | date : 'dd-MM-yy HH:mm'}} - {{item.title}} -
        <a ui-sref="view({position: $index})" ui-sref-active="active">View</a>
    </li>
</ul>