<h1>Crear</h1>

<div>
    <input type="text" ng-model="data.title" placeholder="Title" /><br /><br />
    <textarea ng-model="data.body" placeholder="Body"></textarea><br /><br />


    <strong>{{data.title * 25}}</strong> <br /><br />

    <button ng-click="save()">Save</button>
</div>