<div
    class="item"
    ng-repeat="item in items track by $index"
    ng-class="{selected: item.selected, current: hierarchy == h && $index == i}"
    ng-click="select($index)"
>
    <i class="material-icons">{{ iconType(item.type) }}</i>
    <span>{{item.name}}</span>
</div>

<div class="empty" ng-if="!items || items.length == 0">Empty</div>
