$border: #CFD6D9;
$white: #FFF;
$light: #F3F5F6;
$hierarchyBox-Width: 200px;

file-manager{

  .content{
    width: 100%;
    height: 26px;

    > button{
      float: left;
      border: 1px solid $border;
      border-radius: 3px;
      margin-right: 7px;
      background-color: $white;
      cursor: pointer;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;

      i{
        font-size: 15px;
        margin-right: 6px;
      }

      &:hover:not([disabled]){
        background-color: $light;
      }

      &[disabled]{
        opacity: .6;
        cursor: auto;
      }
    }

    > .actual-path{
      width: 100%;
      float: left;
      margin-top: .75rem;
      font-size: 13px;
      font-style: italic;

      > strong{
        font-weight: 600;
      }

      > span:not(:first-of-type):not(:last-of-type)::after{
        content: '/';
      }
    }

    .explorer{
      width: 100%;
      height: 200px;
      overflow-x: auto;
      border-left: 1px solid $border;
      margin-top: .75rem;
      float: left;
      position: relative;

      > .up{
        height: 100%;
        max-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        background: rgba(93, 93, 93, .8);
        display: none;

        > div{
          float: left;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          display: none;

          &.active{
            display: flex;
          }

          button{
            border-radius: 3px;
            margin-right: 7px;
            cursor: pointer;
            height: 26px;
            display: flex;
            align-items: center;
            justify-content: center;

            &.ok{
              border: 1px solid #4cae4c;
              color: #fff;
              background-color: #5cb85c;
            }
            &.cancel{
              background-color: #e05d6f;
              color: #fff;
              border: 1px solid #dc485c;
            }
          }

          input[type="text"]{
            margin-right: .75rem;
            padding: 4px 8px;
            border: 1px solid #AAA;
            font-size: 13px;
          }
        }
      }

      > .scroll{
        position: absolute;
        height: 100%;
        display: flex;

        > file-manager-hierarchy{
          width: $hierarchyBox-Width;
          height: 100%;
          float: left;
          overflow-y: auto;
          border-top: 1px solid $border;
          border-bottom: 1px solid $border;
          border-right: 1px solid $border;
          padding: .25rem 0;
          position: relative;

          &:only-of-type {
            width: ($hierarchyBox-Width * 2);
          }

          &:nth-of-type(odd){
            background-color: $light;
          }

          &:nth-of-type(even){
            background-color: $white;
          }

          &[draging="true"]::before{
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 5;
            background: rgba(252, 143, 143, .47);
          }

          .item{
            font-size: 13px;
            font-weight: 300;
            height: 22px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            padding: 0 .75rem;
            transition: $transition;
            //pointer-events: none;

            i{
              font-size: 16px;
              margin-right: .5rem;
            }

            span{
              width: calc(100% - 16px - .5rem);
              @include ellipsis();
            }

            &:hover{
              background-color: #999;
              color: #FFF;
            }

            &.selected{
              background-color: #62A7BE;
              color: #FFF;

              &.current{
                background-color: #265463;
              }
            }
          }

          .empty{
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            font-weight: 300;
          }
        }
      }
    }

    &.dialog-active{

      .explorer{
        overflow: hidden;

        > .up{
          display: block;
        }
      }
    }
  }
}

