<div class="content" ng-class="{'dialog-active': dialogActive}">
    <button ng-click="onRemove()" ng-disabled="dialogActive || items[actual.position.h][actual.position.i].removable">
        <i class="material-icons">mode_edit</i> Rename
    </button>
    <button ng-click="onRename()" ng-disabled="dialogActive || items[actual.position.h][actual.position.i].renamable">
        <i class="material-icons">delete</i> Remove
    </button>
    <button ng-disabled="dialogActive" ng-hide="dialogActive || items[actual.position.h][actual.position.i].type == 'folder'" ng-click="view()">
        <i class="material-icons">remove_red_eye</i> View
    </button>
    <button ng-disabled="dialogActive" ng-hide="dialogActive || items[actual.position.h][actual.position.i].type == 'folder'">
        <i class="material-icons">file_download</i> Download
    </button>

    <div class="explorer">
        <div class="scroll">
            <file-manager-hierarchy
                file-manager-drag ng-repeat="item in items track by $index"
                items="item"
                h="actual.position.h"
                i="actual.position.i"
                hierarchy="$index"
            ></file-manager-hierarchy>
        </div>

        <div class="up" ng-style="{width: ((items.length > 1) ? 200*items.length : 400) + 'px'}">

            <div class="remove" ng-class="{active: removeActive}">
                <button class="ok" ng-click="onConfirmRemove()">Remove</button>
                <button class="cancel" ng-click="onCancelRemove()">Cancel</button>
            </div>

            <div class="rename" ng-class="{active: renameActive}">
                <input type="text" />
                <button class="ok" ng-click="onConfirmRename()">Rename</button>
                <button class="cancel" ng-click="onCancelRename()">Cancel</button>
            </div>

        </div>
    </div>

    <div class="actual-path">
        <strong>Path:</strong> <span ng-repeat="folder in actual.path track by $index">{{folder}}</span>
    </div>
</div>